@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 10px;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  z-index: 10;
  transition: 0.3s;
}
header .logo {
  width: 120px;
  transition: 0.3s;
}
header .logo a img {
  width: 100%;
}
header .logo:hover {
  transform: scale(1.2);
}
header .btns {
  display: flex;
  width: 40%;
  max-width: 120px;
  justify-content: space-between;
}
header .btns .abrir-carrito, header .btns .abrir-menu {
  display: block;
  border: none;
  font-size: 0.9em;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
}
header .btns .abrir-carrito i, header .btns .abrir-menu i {
  font-size: 2.5em;
  color: #505050;
  transition: 0.3s;
}
header .btns .abrir-carrito:hover, header .btns .abrir-menu:hover {
  transform: scale(1.2);
}
header .btns .abrir-carrito:hover i, header .btns .abrir-menu:hover i {
  color: #FFD700;
}
header .nav, header .menu-carrito {
  font-family: "Montserrat", sans-serif;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  width: 200px;
  position: absolute;
  top: 0;
  right: -280px;
  background-color: #971a27;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  z-index: 15;
  transition: 1s;
}
header .nav .cabecera, header .menu-carrito .cabecera {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
}
header .nav .cabecera img, header .menu-carrito .cabecera img {
  width: 100px;
}
header .nav .cabecera .btns-carrito, header .menu-carrito .cabecera .btns-carrito {
  display: flex;
  gap: 10px;
  font-size: 0.8em;
}
header .nav .cabecera .cerrar-menu, header .nav .cabecera .borrar-carrito, header .nav .cabecera .cerrar-carrito, header .menu-carrito .cabecera .cerrar-menu, header .menu-carrito .cabecera .borrar-carrito, header .menu-carrito .cabecera .cerrar-carrito {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1em;
}
header .nav .cabecera .cerrar-menu i, header .nav .cabecera .borrar-carrito i, header .nav .cabecera .cerrar-carrito i, header .menu-carrito .cabecera .cerrar-menu i, header .menu-carrito .cabecera .borrar-carrito i, header .menu-carrito .cabecera .cerrar-carrito i {
  font-size: 2.5em;
  color: #505050;
  transition: 0.3s;
}
header .nav .cabecera .cerrar-menu:hover, header .nav .cabecera .borrar-carrito:hover, header .nav .cabecera .cerrar-carrito:hover, header .menu-carrito .cabecera .cerrar-menu:hover, header .menu-carrito .cabecera .borrar-carrito:hover, header .menu-carrito .cabecera .cerrar-carrito:hover {
  transform: scale(1.2);
}
header .nav .cabecera .cerrar-menu:hover i, header .nav .cabecera .borrar-carrito:hover i, header .nav .cabecera .cerrar-carrito:hover i, header .menu-carrito .cabecera .cerrar-menu:hover i, header .menu-carrito .cabecera .borrar-carrito:hover i, header .menu-carrito .cabecera .cerrar-carrito:hover i {
  color: #FFD700;
}
header .nav .nav-list, header .menu-carrito .nav-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  list-style: none;
  font-size: 1.2em;
  font-weight: 600;
}
header .nav .nav-list a, header .menu-carrito .nav-list a {
  text-decoration: none;
  color: #F9FAFB;
  transition: 0.3s;
}
header .nav .nav-list a:hover, header .menu-carrito .nav-list a:hover {
  color: #FFD700;
}
header .menu-carrito {
  gap: 5px;
}
header .menu-carrito .cabecera h2 {
  font-size: 1.5em;
  color: #F9FAFB;
}
header .menu-carrito .cabecera .borrar-carrito i {
  font-size: 1.5em;
}
header .menu-carrito .cuerpo {
  font-family: "Montserrat", sans-serif;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-top: 2px solid #505050;
  border-bottom: 2px solid #505050;
}
header .menu-carrito .cuerpo .compraCarrito {
  display: flex;
  gap: 5px;
}
header .menu-carrito .cuerpo .compraCarrito img {
  width: 50px;
  height: 50px;
}
header .menu-carrito .cuerpo .compraCarrito .datos {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header .menu-carrito .cuerpo .compraCarrito .datos p {
  font-size: 0.9em;
  font-weight: 600;
  color: #F9FAFB;
}
header .menu-carrito .footer {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
header .menu-carrito .footer p {
  font-size: 1.4em;
  font-weight: 600;
  color: #F9FAFB;
}
header .menu-carrito .footer button {
  font-size: 0.9em;
  padding: 8px;
  align-self: center;
  width: 100px;
  color: #F9FAFB;
  background-color: #DC3545;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
header .menu-carrito .footer button:hover {
  transform: scale(1.2);
  color: #FFD700;
}
header.abajo {
  padding: 16px;
  background-color: rgba(220, 53, 69, 0.8);
}
header .nav.visible {
  opacity: 1;
  transform: translate(-280px, 0);
  visibility: visible;
}
header .menu-carrito.visible {
  opacity: 1;
  transform: translate(-280px, 0);
  visibility: visible;
}

@media screen and (min-width: 480px) {
  header {
    padding: 16px;
    font-size: 20px;
  }
  header .logo {
    width: 110px;
  }
  header .btns {
    width: fit-content;
  }
  header .btns .abrir-menu {
    display: none;
  }
  header .nav {
    position: relative;
    left: 0;
    width: 60%;
    min-width: 280px;
    max-width: 500px;
    height: 100%;
    background-color: transparent;
    box-shadow: none;
    opacity: 1;
    visibility: visible;
    justify-content: center;
    z-index: 10;
  }
  header .nav .cabecera {
    display: none;
  }
  header .nav .nav-list {
    flex-direction: row;
    justify-content: space-around;
  }
  header .nav .nav-list a {
    font-size: 0.8em;
  }
  header .menu-carrito {
    width: 260px;
  }
  header .menu-carrito .cabecera .btns-carrito {
    gap: 20px;
  }
}
@media screen and (min-width: 768px) {
  header {
    padding: 16px 22px;
    font-size: 26px;
  }
  header .logo {
    width: 150px;
  }
  header .nav {
    min-width: 320px;
    max-width: 600px;
  }
  header .nav .nav-list {
    justify-content: space-between;
  }
  header .menu-carrito {
    width: 320px;
  }
  header .menu-carrito .cabecera .btns-carrito {
    gap: 10px;
  }
  header.abajo {
    padding: 22px;
  }
}
@media screen and (min-width: 1024px) {
  header {
    font-size: 30px;
  }
  header .logo {
    width: 160px;
  }
  header .nav {
    min-width: 400px;
    max-width: 800px;
  }
  header .menu-carrito {
    width: 360px;
  }
}
.index {
  font-size: 16px;
}
.index .fondo-pokeball {
  width: 100%;
  height: 70vh;
  min-height: 480px;
  max-height: 520px;
}
.index .fondo-pokeball .parte-superior {
  width: 100%;
  height: 290px;
  background-color: #DC3545;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.index .fondo-pokeball .parte-superior .img1 {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.index .fondo-pokeball .parte-superior .img1 img {
  width: 50%;
  min-width: 160px;
  max-width: 165px;
}
.index .fondo-pokeball .parte-superior .img2 {
  display: none;
}
.index .fondo-pokeball .separacion .linea-divisoria {
  width: 100%;
  height: 16px; /* Grosor de la línea */
  background-color: #000;
  position: absolute;
  top: 285px;
  transform: translateY(-50%);
  z-index: 2;
}
.index .fondo-pokeball .separacion .circulo-en-linea {
  width: 60px;
  height: 60px;
  background-color: #F5F5F5;
  border: 12px solid #000;
  border-radius: 50%;
  position: absolute;
  top: 285px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.index .fondo-pokeball .parte-inferior {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  background-color: #F5F5F5;
}
.index .fondo-pokeball .parte-inferior .compra {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.index .fondo-pokeball .parte-inferior .compra p {
  font-size: 1.2em;
  font-weight: 400;
  color: #333;
  font-family: "Luckiest Guy", cursive;
}
.index .fondo-pokeball .parte-inferior .compra button {
  font-size: 1em;
  padding: 10px;
  width: 150px;
  background-color: #DC3545;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.1s;
}
.index .fondo-pokeball .parte-inferior .compra button a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #F9FAFB;
  font-weight: 500;
}
.index .fondo-pokeball .parte-inferior .compra button:hover {
  transform: scale(1.2);
}
.index .fondo-pokeball .parte-inferior .compra button:hover a {
  color: #FFD700;
}

@media screen and (min-width: 480px) {
  .index {
    font-size: 20px;
  }
  .index .fondo-pokeball .parte-superior {
    height: 290px;
  }
  .index .fondo-pokeball .parte-superior .img1 {
    display: none;
  }
  .index .fondo-pokeball .parte-superior .img2 {
    padding-top: 40px;
    display: flex;
    justify-content: center;
  }
  .index .fondo-pokeball .parte-superior .img2 img {
    width: 80%;
    max-width: 500px;
  }
  .index .fondo-pokeball .separacion .linea-divisoria {
    top: 285px;
  }
  .index .fondo-pokeball .separacion .circulo-en-linea {
    top: 285px;
  }
  .index .fondo-pokeball .parte-inferior .compra button {
    padding: 16px;
    width: 180px;
  }
}
@media screen and (min-width: 768px) {
  .index {
    font-size: 26px;
  }
  .index .fondo-pokeball {
    min-height: 580px;
    max-height: 640px;
  }
  .index .fondo-pokeball .parte-superior {
    height: 310px;
  }
  .index .fondo-pokeball .parte-superior .img2 img {
    max-width: 700px;
  }
  .index .fondo-pokeball .separacion .linea-divisoria {
    top: 315px;
  }
  .index .fondo-pokeball .separacion .circulo-en-linea {
    top: 315px;
  }
  .index .fondo-pokeball .parte-inferior {
    height: 60%;
  }
  .index .fondo-pokeball .parte-inferior .compra button {
    width: 210px;
  }
}
@media screen and (min-width: 1024px) {
  .index {
    font-size: 30px;
  }
  .index .fondo-pokeball {
    min-height: 640px;
    max-height: 680px;
  }
  .index .fondo-pokeball .parte-superior {
    height: 330px;
  }
  .index .fondo-pokeball .parte-superior .img2 {
    padding-top: 80px;
  }
  .index .fondo-pokeball .separacion .linea-divisoria {
    top: 335px;
  }
  .index .fondo-pokeball .separacion .circulo-en-linea {
    top: 335px;
  }
  .index .fondo-pokeball .parte-inferior .compra button {
    width: 230px;
  }
}
.productos {
  background-color: #F5F5F5;
  font-size: 16px;
  padding: 10px;
  padding-bottom: 40px;
}
.productos .titulo {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px;
}
.productos .titulo img {
  width: 100%;
  max-width: 240px;
}
.productos .btns {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Luckiest Guy", cursive;
  gap: 10px;
  margin-bottom: 20px;
}
.productos .btns label {
  font-size: 1em;
}
.productos .btns select {
  padding: 5px;
  outline: none;
  font-size: 1em;
  color: #fff;
  border-radius: 5px;
  background: #dc3545;
  box-shadow: 0 0 10px rgba(220, 53, 69, 0.7);
  border: 1px solid #c82333;
}
.productos .contenedor-productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 32px;
}
.productos .contenedor-productos .producto {
  font-family: "Luckiest Guy", cursive;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 1px solid #333;
  border-radius: 10px;
}
.productos .contenedor-productos .producto .img-prod {
  width: 150px;
  height: 150px;
}
.productos .contenedor-productos .producto .nombre {
  font-size: 0.9em;
}
.productos .contenedor-productos .producto button {
  font-size: 0.9em;
  padding: 10px;
  width: 200px;
  color: #F9FAFB;
  background-color: #DC3545;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.productos .contenedor-productos .producto button:hover {
  transform: scale(1.2);
  color: #FFD700;
}

footer {
  padding: 10px;
  background-color: #C1C9D0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 16px;
}
footer .caja {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 300px;
}
footer .caja .titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 1.5em;
  font-weight: 400;
  color: #F9FAFB;
  font-family: "Luckiest Guy", cursive;
}
footer .caja .titulo img {
  width: 20px;
  height: 20px;
}
footer .caja .descripcion {
  width: fit-content;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
  font-weight: 600;
  color: #333;
  text-align: center;
}
footer .caja .descripcion .dato {
  padding: 2px 0;
  display: flex;
  gap: 4px;
  justify-content: center;
}
footer .caja .redes {
  display: flex;
  justify-content: space-between;
}
footer .caja .redes a {
  font-size: 1.5em;
  color: #333;
  transition: 0.2s;
}
footer .caja .redes a#face:hover {
  transform: scale(1.2);
  color: #1877F2; /* Azul de Facebook */
}
footer .caja .redes a#wsp:hover {
  transform: scale(1.2);
  color: #25D366; /* Verde de WhatsApp */
}
footer .caja .redes a#tweet:hover {
  transform: scale(1.2);
  color: #1DA1F2; /* Azul de Twitter */
}
footer .caja .redes a#insta:hover {
  transform: scale(1.2);
  color: #E4405F; /* Rosado/Rojo de Instagram */
}
footer .caja input {
  width: 90vw;
  max-width: 275px;
  padding: 10px;
  border: 1px solid #AAB8C2;
  border-radius: 5px;
  font-size: 0.9em;
  background-color: #F2F4F8;
}
footer .caja input::placeholder {
  color: #333;
}
footer .copyright {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  border-top: 1px solid #333;
  padding: 10px 0;
  font-size: 0.9em;
  color: #333;
}

@media screen and (min-width: 480px) {
  footer {
    padding: 16px;
    font-size: 20px;
  }
  footer .caja {
    max-width: 360px;
  }
}
@media screen and (min-width: 768px) {
  footer {
    padding: 26px;
    font-size: 16px;
    display: grid;
    align-items: flex-start;
    justify-content: space-between;
    grid-template-columns: auto;
    grid-template-rows: 3fr 3fr 1fr;
  }
  footer .caja {
    width: 30vw;
    max-width: 300px;
  }
  footer .caja .descripcion {
    text-align: center;
  }
  footer .caja .descripcion .dato {
    padding: 0;
    margin-bottom: 15px;
    justify-content: flex-start;
  }
  footer .store {
    grid-row: 1/3;
    grid-column: 1/2;
  }
  footer .info {
    grid-row: 1/3;
    grid-column: 2/3;
    align-items: center;
  }
  footer .rede {
    grid-row: 1/2;
    grid-column: 3/4;
  }
  footer .rede .redes {
    justify-content: space-evenly;
  }
  footer .contacto {
    grid-row: 2/3;
    align-items: center;
  }
  footer .contacto input {
    width: 28vw;
    max-width: 260px;
  }
  footer .copyright {
    grid-row: 3/5;
    grid-column: 1/4;
  }
}
@media screen and (min-width: 1024px) {
  footer {
    font-size: 22px;
  }
  footer .caja {
    max-width: 400px;
  }
  footer .caja .descripcion .dato {
    margin-bottom: 20px;
  }
  footer .caja input {
    max-width: 300px;
  }
}
@media screen and (min-width: 1280px) {
  footer {
    justify-content: space-around;
  }
}

/*# sourceMappingURL=style.css.map */
