@import '../Utilities/variables';
@import '../Breakpoints/medidas';

.productos{
    background-color: #F5F5F5;
    font-size: 16px;
    padding: 10px;
    padding-bottom: 40px;
    .titulo{
        width: 100%;
        height: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 20px;

        img{
            width: 100%;
            max-width: 240px;
        }
    }

    .btns{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Luckiest Guy", cursive;
        gap: 10px;
        margin-bottom: 20px;

        label{
            font-size: 1em;
        }

        select{
            padding: 5px;
            outline: none;
            font-size: 1em;
            color: #fff;
            border-radius: 5px;
            background: #dc3545; 
            border: 1px solid #c82333;
        }
    }

    .contenedor-productos{
        display: grid;
        grid-template-columns: 
        repeat(
            auto-fit,
            minmax(180px, 1fr)
        );
        gap: 20px;

        .producto{
            width: 100%;
            font-family: "Luckiest Guy", cursive;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            border: 1px solid #333;
            border-radius: 10px;

            .codigo{
                align-self: flex-start;
            }

            .img-prod{
                width: 140px;
                height: 140px;
            }

            .nombre{
                font-size: .9em;
            }

            button{
                font-size: .9em;
                font-weight: 600;
                padding: 10px;
                width: 70%;
                min-width: 140px;
                max-width: 200px;
                color: #F9FAFB;
                background-color: #DC3545;
                border: 1px solid #c82333;
                border-radius: 5px;
                cursor: pointer;
                transition: .3s;

                &:hover{
                    transform: scale(1.2);
                    color: #FFD700;
                }
            }
        }
    }
}

@include desde(400px){
    .productos{

        .contenedor-productos{

            .producto{

                .nombre{
                    font-size: .7em;
                }
            }
        }
    }
}

@include desde(480px){
    .productos{
        padding: 16px;
        font-size: 18px;
        padding-bottom: 80px;

        .titulo{

            img{
                max-width: 300px;
            }
        }

        .btns{
            gap: 16px;
            margin-bottom: 30px;

            select{
                width: 200px;
            }
        }

        .contenedor-productos{
            grid-template-columns: 
            repeat(
                auto-fit,
                minmax(200px, 1fr)
        );
            gap: 36px;

            .producto{

                button{
                    min-width: 160px;
                    max-width: 200px;
                }
            }
        }
    }
}

@include desde(768px){
    .productos{
        padding: 20px;
        font-size: 20px;
        padding-bottom: 60px;

        .titulo{
            margin-top: 30px;

            img{
                max-width: 400px;
            }
        }

        .btns{
            gap: 20px;

            select{
                width: 300px;
            }
        }

        .contenedor-productos{
            grid-template-columns: 
            repeat(
                auto-fit,
                minmax(216px, 1fr)
            );
            gap: 40px;
        }
    }
}

@include desde(1024px){
    .productos{
        padding-bottom: 80px;
        
        .titulo{
            margin-top: 80px;

            img{
                max-width: 500px;
            }
        }

        .btns{
            gap: 30px;

            select{
                width: 400px;
            }
        }

        .contenedor-productos{
            grid-template-columns: 
            repeat(
                auto-fit,
                minmax(220px, 1fr)
            );
            gap: 35px;
        }
    }
}

@include desde(1280px){
    .productos{
        font-size: 22px;

        .contenedor-productos{
            grid-template-columns: 
            repeat(
                auto-fit,
                minmax(230px, 1fr)
            );
            gap: 38px;
        }
    }
}
