.productos{
    background-color: #F5F5F5;
    font-size: 16px;
    padding: 10px;
    padding-bottom: 40px;
    .titulo{
        width: 100%;
        height: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 20px;

        img{
            width: 100%;
            max-width: 240px;
        }
    }

    .btns{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Luckiest Guy", cursive;
        gap: 10px;
        margin-bottom: 20px;

        label{
            font-size: 1em;
        }

        select{
            padding: 5px;
            outline: none;
            font-size: 1em;
            color: #fff;
            border-radius: 5px;
            background: #dc3545; 
            box-shadow: 0 0 10px rgba(220, 53, 69, 0.7);
            border: 1px solid #c82333;
        }
    }

    .contenedor-productos{
        display: grid;
        grid-template-columns: 
        repeat(
            auto-fit,
            minmax(150px, 1fr)
        );
        gap: 32px;

        .producto{
            font-family: "Luckiest Guy", cursive;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            border: 1px solid #333;
            border-radius: 10px;

            .img-prod{
                width: 150px;
                height: 150px;
            }

            .nombre{
                font-size: .9em;
            }

            button{
                font-size: .9em;
                padding: 10px;
                width: 200px;
                color: #F9FAFB;
                background-color: #DC3545;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: .3s;

                &:hover{
                    transform: scale(1.2);
                    color: #FFD700;
                }
            }
        }
    }
}