// ---------- COLORES GENERALES ---------- 

$rojo : #DC3545;

$bordo: #971a27;

$amarillo: #FFD700;

$blanco: #F9FAFB;

$gris-claro: #F5F5F5;

$gris: #505050;

$gris-oscuro: #333;

$negro: #000;
// ---------- COLORES GENERALES ---------- 
