@import '../Utilities/variables';

footer{
    padding: 10px;
    background-color: #C1C9D0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 16px;
    

    .caja{
        display: flex;
        flex-direction: column;
        gap: 5px;
        max-width: 300px;

        .titulo{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            font-size: 1.5em;
            font-weight: 400;
            color: $blanco;
            font-family: "Luckiest Guy", cursive;

            img{
                width: 20px;
                height: 20px;
            }

        }

        .descripcion{
            width: fit-content;
            font-family: "Montserrat", sans-serif;
            font-size: .9em;
            font-weight: 600;
            color: $gris-oscuro;
            text-align: center;

            .dato{
                padding: 2px 0;
                display: flex;
                gap: 4px;
                justify-content: center;
            }
        }

        .redes{
            display: flex;
            justify-content: space-between;

            a{
                font-size: 1.5em;
                color: $gris-oscuro;
                transition: .2s;

                &#face:hover{
                    transform: scale(1.2);
                    color: #1877F2; /* Azul de Facebook */
                }

                &#wsp:hover{
                    transform: scale(1.2);
                    color: #25D366; /* Verde de WhatsApp */
                }

                &#tweet:hover{
                    transform: scale(1.2);
                    color: #1DA1F2; /* Azul de Twitter */
                }

                &#insta:hover{
                    transform: scale(1.2);
                    color: #E4405F; /* Rosado/Rojo de Instagram */
                }
            }
        }

        input{
            width: 90vw;
            max-width: 275px;
            padding: 10px;
            border: 1px solid #AAB8C2;
            border-radius: 5px;
            font-size: .9em;
            background-color: #F2F4F8;

            &::placeholder{
                color: $gris-oscuro;
            }
        }
    }

    .copyright{
        width: 100%;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        border-top: 1px solid $gris-oscuro;
        padding: 10px 0;
        font-size: .9em;
        color: $gris-oscuro;
    }
}