@import '../Utilities/variables';
@import '../Breakpoints/medidas';

header{
    padding: 10px;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    z-index: 10;
    transition: .3s;

    .logo{
        width: 120px;
        transition: .3s;

        a{

            img{
                width: 100%;
            }

        }

        &:hover{
            transform: scale(1.2);
        }
    }

    .btns{
        display: flex;
        width: 40%;
        max-width: 120px;
        justify-content: space-between;

        .abrir-carrito, .abrir-menu{
            display: block;
            border: none;
            font-size: .9em;
            background-color: transparent;
            cursor: pointer;
            transition: .3s;

            i{
                font-size: 2.5em;
                color: #505050;
                transition: .3s;  
            }

            &:hover{
                transform: scale(1.2);
    
                i{
                    color: $amarillo;
                }
            }
        }
    }

    .nav, .menu-carrito{
        font-family: "Montserrat", sans-serif;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 100vh;
        width: 200px;
        position: absolute;
        top: 0;
        right: -280px;
        background-color: $bordo;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        opacity: 0;
        visibility: hidden;
        z-index: 15;
        transition: 1s;
        
        .cabecera{
            display: flex;
            gap: 20px;
            align-items: center;
            justify-content: space-around;

            img{
                width: 100px;
            }

            .btns-carrito{
                display: flex;
                gap: 10px;
                font-size: .8em;
            }

            .cerrar-menu,.borrar-carrito,.cerrar-carrito{
                border: none;
                background-color: transparent;
                cursor: pointer;
                transition: .3s;
                font-size: 1em;

                i{
                    font-size: 2.5em;
                    color: $gris;
                    transition: .3s;
                }

                &:hover{
                    transform: scale(1.2);
        
                    i{
                        color: $amarillo;
                    }
                }
            }
        }

        .nav-list{
            display: flex;
            flex-direction: column;
            gap: 20px;
            text-align: center;
            list-style: none;
            font-size: 1.2em;
            font-weight: 600;

            a{
                text-decoration: none;
                color: #D4D8DD;
                transition: .3s;

                &:hover{
                    color: $amarillo;
                }
            }
        }
    }

    .menu-carrito{
        gap: 5px;
        .cabecera{

            h2{
                font-size: 1.5em;
                color: $blanco;
            }

            .borrar-carrito{

                i{
                    font-size: 1.5em;
                }
            }
        }

        .cuerpo{
            font-family: "Montserrat", sans-serif;
            height: 80vh;
            display: flex;
            flex-direction: column;
            gap: 10px;
            border-top: 2px solid $gris;
            border-bottom: 2px solid $gris;

            .compraCarrito{
                display: flex;
                gap: 5px;

                img{
                    width: 50px;
                    height: 50px;
                }

                .datos{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    p{
                        font-size: .9em;
                        font-weight: 600;
                        color: $blanco;
                    }
                }
            }
        }

        .footer{
            font-family: "Montserrat", sans-serif;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;

            p{
                font-size: 1.4em;
                font-weight: 600;
                color: $blanco;
            }

            button{
                width: 60%;
                font-size: .9em;
                padding: 8px;
                align-self: center;
                color: #F9FAFB;
                background-color: #DC3545;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: .3s;

                &:hover{
                    transform: scale(1.2);
                    color: #FFD700;
                }
            }
        }
    }

    &.abajo{
        padding: 16px;
        background-color: transparentize($rojo,0.20);
    }

    .nav.visible {
        opacity: 1;
        transform: translate(-280px, 0);
        visibility: visible;
    }

    .menu-carrito.visible{
        opacity: 1;
        transform: translate(-280px, 0);
        visibility: visible;
    }
}

@include desde(480px){
    header{
        padding: 16px;
        font-size: 20px;

        .logo{
            width: 110px;
        }

        .btns{
            width: fit-content;

            .abrir-menu{
                display: none;
            }
        }

        .nav{
            position: relative;
            left: 0;
            width: 60%;
            min-width: 280px;
            max-width: 500px;
            height: 100%;
            background-color: transparent;
            box-shadow: none;
            opacity: 1;
            visibility: visible;
            justify-content: center;
            z-index: 10;

            .cabecera{
                display: none;
            }

            .nav-list{
                flex-direction: row;
                justify-content: space-around;

                a{
                    font-size: .8em;
                }
            }
        }

        .menu-carrito{
            width: 260px;

            .cabecera{

                .btns-carrito{
                    gap: 20px;
                }
            }
        }

    }
}

@include desde(768px){
    header{
        padding: 16px 22px;
        font-size: 26px;

        .logo{
            width: 150px;
        }

        .nav{
            min-width: 320px;
            max-width: 600px;

            .nav-list{
                justify-content: space-between;
            }
        }

        .menu-carrito{
            width: 320px;

            .cabecera{

                .btns-carrito{
                    gap: 10px;
                }
            }
        }

        &.abajo{
            padding: 22px;
        }
    }
}

@include desde(1024px){
    header{
        font-size: 30px;

        .logo{
            width: 160px;
        }

        .nav{
            min-width: 400px;
            max-width: 800px;
        }

        .menu-carrito{
            width: 360px;
        }
    }
}